<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="10 minutes">
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{juuid}] [%X{jround}] %-5level %logger{36} -%msg%n</pattern>
		</layout>
	</appender>

	<!-- 按照每天生成日志文件 -->  
	<appender name="debuglog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
        <Encoding>UTF-8</Encoding>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>logs/ecircle/debug.%d{yyyy-MM-dd}.log</FileNamePattern>  
			<MaxHistory>30</MaxHistory>
        </rollingPolicy>  
        <layout class="ch.qos.logback.classic.PatternLayout">  
              <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{juuid}] [%X{jround}] %-5level %logger{36} -%msg%n</pattern>  
        </layout>  
	</appender>
	<appender name="infolog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
	    </filter>          
        <Encoding>UTF-8</Encoding>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>logs/ecircle/info.%d{yyyy-MM-dd}.log</FileNamePattern>  
			<MaxHistory>30</MaxHistory>
        </rollingPolicy>  
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{juuid}] [%X{jround}] %-5level %logger{36} -%msg%n</pattern>  
        </layout>  
	</appender>
	<appender name="warnlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
 		</filter>          
		<Encoding>UTF-8</Encoding>  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>logs/ecircle/warn.%d{yyyy-MM-dd}.log</FileNamePattern>  
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>  
		<layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{juuid}] [%X{jround}] %-5level %logger{36} -%msg%n</pattern>  
		</layout>  
	</appender>
	<appender name="errorlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>          
        <Encoding>UTF-8</Encoding>  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>logs/ecircle/error.%d{yyyy-MM-dd}.log</FileNamePattern>  
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>  
		<layout class="ch.qos.logback.classic.PatternLayout">  
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{juuid}] [%X{jround}] %-5level %logger{36} -%msg%n</pattern>  
		</layout>  
	</appender>
        
		<appender name="mongoaddremove" class="ch.qos.logback.core.rolling.RollingFileAppender">
	        <!-- 下面这段注释的代码可以在日志文件超过 5MB 时进行归档，并且归档文件后缀只要是 .zip 或 .gz 就会自动压缩日志归档 -->
	        <file>logs/ecircle/mgtMongoDFSAddRemove.log</file>
	        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
	          <maxFileSize>10MB</maxFileSize>
	        </triggeringPolicy> 
	        <encoder>
	            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{juuid}] [%X{jround}] %-5level %logger{36} -%msg%n</pattern>
	        </encoder>
	    </appender>
	
	<root level="warn">
		<appender-ref ref="stdout" />
		<appender-ref ref="debuglog" />		
		<appender-ref ref="infolog" />		
		<appender-ref ref="warnlog" />
		<appender-ref ref="errorlog" />		
	</root>
	
	<logger name="com.jingoal" level="DEBUG" />
	<logger name="org.apache.ibatis" level="error"/>
	<logger name="java.sql" level="error"/>
	<logger name="org.springframework" level="error"/>

	<!--  
	<logger name="org.springframework" level="ERROR" />
	<logger name="com.ibatis" level="WARN" />
	<logger name="java.sql" level="WARN" />	
	<logger name="org.apache.zookeeper" level="ERROR" />
    <logger name="n.spy.memcached.MemcachedConnection" level="ERROR"/>-->
</configuration>
